<div class="row text-center">

  <h1 class="page-header">Choose from our Plans</h1>
  <div class="col-md-4 text-center">
    <div class="panel panel-default plan-info">

      <div class="panel-heading">
        <h1>Weekly Plan</h1>
        <h1>$15</h1>
        <h5>per week</h5>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled plan-info-list">
          <li>
            <i class="fa fa-trophy"></i>
            Daily Value Picks</li>
          <li>
            <i class="fa fa-bar-chart"></i>
            Detailed Result Analysis</li>
          <li>
            <i class="fa fa-envelope-o"></i>
            Daily Email Updates</li>
          <li>
            <i class="fa fa-line-chart"></i>
            All Sports</li>
          <li>
            <i class="fa fa-usd"></i>
            Low Commitment</li>
        </ul>
        <%= link_to "Sign Up", "", class: 'btn btn-primary btn-lg' %>
      </div>

    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="panel panel-default plan-info">

      <div class="panel-heading">
        <h1>Monthly Plan</h1>
        <h1>$49</h1>
        <h5>per month</h5>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled plan-info-list">
          <li>
            <i class="fa fa-trophy"></i>
            Daily Value Picks</li>
          <li>
            <i class="fa fa-bar-chart"></i>
            Detailed Result Analysis</li>
          <li>
            <i class="fa fa-envelope-o"></i>
            Daily Email Updates</li>
          <li>
            <i class="fa fa-line-chart"></i>
            All Sports</li>
          <li>
            <i class="fa fa-usd"></i>
            <strong>Save 20% Per Month!</strong>
          </li>
        </ul>
        <%= link_to "Sign Up", "", class: 'btn btn-primary btn-lg' %>
      </div>

    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="panel panel-default plan-info">
      <div class="panel-heading">
        <h1>Yearly Plan</h1>
        <h1>$499</h1>
        <h5>per year</h5>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled plan-info-list">
          <li>
            <i class="fa fa-trophy"></i>
            Daily Value Picks</li>
          <li>
            <i class="fa fa-bar-chart"></i>
            Detailed Result Analysis</li>
          <li>
            <i class="fa fa-envelope-o"></i>
            Daily Email Updates</li>
          <li>
            <i class="fa fa-line-chart"></i>
            All Sports</li>
          <li>
            <i class="fa fa-usd"></i>
            <strong>Save 35% Per Year!</strong>
          </li>
        </ul>
        <%= link_to "Sign Up", "", class: 'btn btn-primary btn-lg' %>
      </div>

    </div>
  </div>

</div>
