<div class="row plans text-center">

  <h1 class="page-header text-center">Our Packages</h3>
  <div class="col-md-6">
    <div class="panel panel-default plan-info">

      <div class="panel-heading text-center">
        <h2>Basic Plan</h2>
        <h5>Sports Only</h5>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled plan-info-list">
          <li>
            <i class="fa fa-trophy"></i>
            Daily Value Picks</li>
          <li>
            <i class="fa fa-bar-chart"></i>
            Detailed Result Analysis</li>
          <li>
            <i class="fa fa-envelope-o"></i>
            Daily Email Updates</li>
          <li>
            <i class="fa fa-line-chart"></i>
            All Sports Tips</li>
          <li>
            <i class="fa fa-usd"></i>
            <strong>7 Day Free Trial</strong></li>
        </ul>
        <div class="line-break"></div>
        <div class="row">
          <div class="col-sm-3">
            <h3>Weekly</h3>
            <h2>$50</h2>
            <h5>per Week</h5>
          </div>
          <div class="col-sm-3">
            <h3>Monthly</h3>
            <h2>$150</h2>
            <h5>per Month</h5>
          </div><div class="col-sm-3">
            <h3>Quarterly</h3>
            <h2>$400</h2>
            <h5>per Quarter</h5>
          </div><div class="col-sm-3">
            <h3>Yearly</h3>
            <h2>$1300</h2>
            <h5>per Year</h5>
          </div>
        </div>
        <div class="line-break"></div>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default plan-info">

      <div class="panel-heading text-center">
        <h2>Premium Plan</h2>
        <h5>Sports + Horse Racing</h5>
      </div>

      <div class="panel-body">
        <ul class="list-unstyled plan-info-list">
          <li>
            <i class="fa fa-trophy"></i>
            Daily Value Picks</li>
          <li>
            <i class="fa fa-bar-chart"></i>
            Detailed Result Analysis</li>
          <li>
            <i class="fa fa-envelope-o"></i>
            Daily Email Updates</li>
          <li>
            <i class="fa fa-line-chart"></i>
            All Sports and Horse Racing</li>
          <li>
            <i class="fa fa-usd"></i>
            <strong>7 Day Free Trial</strong>
          </li>
        </ul>
        <div class="line-break"></div>
        <div class="row">
          <div class="col-sm-3">
            <h3>Weekly</h3>
            <h2>$150</h2>
            <h5>per Week</h5>
          </div>
          <div class="col-sm-3">
            <h3>Monthly</h3>
            <h2>$500</h2>
            <h5>per Month</h5>
          </div><div class="col-sm-3">
            <h3>Quarterly</h3>
            <h2>$1500</h2>
            <h5>per Quarter</h5>
          </div><div class="col-sm-3">
            <h3>Yearly</h3>
            <h2>$5000</h2>
            <h5>per Year</h5>
          </div>
        </div>
        <div class="line-break"></div>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
      </div>

    </div>
  </div>
</div>
