<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header"><i class="fa fa-question-circle"></i> FAQ</h1>
    </div>
  </div>
  <div class="jumbotron faq text-center">
    <h1>Understand the Betting Process</h1>
    <h3></h3>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h3 class="page-header">What is EV?</h3>
      <h1><i class="fa fa-smile-o fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
    <div class="col-md-4">
      <h3 class="page-header">What is Variance?</h3>
      <h1><i class="fa fa-line-chart fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
    <div class="col-md-4">
      <h3 class="page-header">What is ROI?</h3>
      <h1><i class="fa fa-percent fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h3 class="page-header">Models</h3>
      <h1><i class="fa fa-level-up fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
    <div class="col-md-4">
      <h3 class="page-header">Betting Smart</h3>
      <h1><i class="fa fa-lightbulb-o fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
    <div class="col-md-4">
      <h3 class="page-header">Covered Sports</h3>
      <h1><i class="fa fa-futbol-o fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h3 class="page-header">Choosing your Units</h3>
      <h1><i class="fa fa-usd fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
    <div class="col-md-4">
      <h3 class="page-header">When To Bet?</h3>
      <h1><i class="fa fa-calendar fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
    <div class="col-md-4">
      <h3 class="page-header">Read the Analysis</h3>
      <h1><i class="fa fa-book fa-3x"></i></h1>
      <p>Our weekly blog House of Potatoes is dedicated to give you analysis on all of our tips. Reading will increase your knowledge and understanding of our betting process and allow you to understand the ups and downs of sportsbetting.</p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <h3 class="page-header">Bookmakers</h3>
      <h1><i class="fa fa-list fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
    <div class="col-md-4">
      <h3 class="page-header">Losing Days</h3>
      <h1><i class="fa fa-chevron-down fa-3x"></i></h1>
      <p>Bacon ipsum dolor amet flank andouille capicola, doner meatloaf ball tip bresaola sirloin short loin sausage. Rump alcatra tongue picanha sirloin. Short loin landjaeger tail porchetta ground round short ribs frankfurter andouille fatback filet mignon. Spare ribs leberkas prosciutto, beef ribs corned beef ball tip tenderloin pastrami pig sirloin jerky fatback pork jowl bacon. Ground round frankfurter jowl, tenderloin cow sirloin short ribs porchetta hamburger.</p>
    </div>
  </div>
</div>
