<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header"><i class="fa fa-question-circle"></i> FAQ</h1>
    </div>
  </div>
  <div class="jumbotron faq text-center">
    <h1>Betting Explained</h1>
    <h3></h3>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">Betting Smart</h3></div>
        <div class="panel-body"><h1><i class="fa fa-lightbulb-o fa-3x"></i></h1>
        <p>Here at Puntsquad, we use <strong>complex quantitative models</strong> to generate probabilities of outcomes for a wide range of sporting events. In other words, we have a purely objective and unbiased approach towards betting based off far more data and statistics than any human instinct/gut/hunch possibly could.</p></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">Models</h3></div>
        <div class="panel-body"><h1><i class="fa fa-level-up fa-3x"></i></h1>
        <p>The Models we use for each sport takes account a vast volume of information, with countless numbers of unseen variables. It aims to best predict the fair odds (winning %) of any given outcome in a match including but not limited to; head-to-head, lines and totals markets. The calculated fair odds will be then compared with bookmakers to identify any overlay.</p></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">Covered Sports</h3></div>
        <div class="panel-body"><h1><i class="fa fa-futbol-o fa-3x"></i></h1>
          <p>Currently, Puntsquad covers: NBA, Rugby Union, Rugby League, AFL, Tennis (Discontinued), NFL, NHL whilst E-Sports models are under development. We also provide an extremely profitable horse-racing model as a separate product to the sports listed above.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="blue-title">What is EV?</h3>
        </div>
        <div class="panel-body">
          <h1><i class="fa fa-smile-o fa-3x"></i></h1>
          <p>EV stands for Expected Value. Simply put when you blindly bet on an outcome, that bet must fall into one of the 3 types: negative EV (-EV), breakeven EV (=), and positive EV (+EV). Here at Puntsquad we aim only to offer +EV tips, where the price offered is better than the likelihood of the outcome occurring, and hence we expect to make money and come out ahead in the long run.  </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">What is ROI?</h3></div>
        <div class="panel-body"><h1><i class="fa fa-percent fa-3x"></i></h1>
        <p>Return On Investment (ROI) is calculated by the total returns divided by the total amount bet (total turnover). Note this percentage is not an indication of total profit of initial investment, as your initial investment will be turned over countless times. For total return on investment, simply look at Units won (1unit = 1% of initial investment). Puntsquad aims to achieve a minimum of 5% ROI on all products, which means that you, the punter can expect to make 5 cents off every dollar you bet on average in the long run.</p></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">What is Variance?</h3></div>
        <div class="panel-body"><h1><i class="fa fa-line-chart fa-3x"></i></h1>
        <p>Variance can either be your worst enemy or your best friend. A coin-flip should be 50/50. If you flip 10 times in a perfect world, you would get 5 heads and 5 tails. However real-life is not like this. We will do our best to offer tips that SHOULD turn you a profit in the long run, but variance could mean you will make a loss on those tips as nothing is guaranteed. Here at Puntsquad, we ask all our members to focus on the long-run, and to ride out the short-term variances that may arise. As of 13/10/16, our largest downswing has been -65 units meaning if you had started at the peak, you would have lost 65% of your initial investment. Such things do happen, but have faith in the models to rebound.</p></div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">Choosing your Units</h3></div>
        <div class="panel-body"><h1><i class="fa fa-usd fa-3x"></i></h1>
        <p>Puntsquad tips are displayed in units. Each unit is simply 1% of your initial investment or available capital. For instance, if you decide to set out $10,000, then each unit will be $100. Similarly, if you decide to bet $50 for each unit, then it is recommended that you have at least $5000 set aside to counteract any bad variance that may occur. This method of management for your betting bankroll is strongly recommended. All tips are based off the <a href="http://www.youtube.com/watch?v=Kj7IXfed2xM"><strong>Kelly Criterion</strong></a>.</p></div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">When To Bet?</h3></div>
        <div class="panel-body"><h1><i class="fa fa-calendar fa-3x"></i></h1>
        <p>We recommend bets be placed ASAP as you receive them. We expect our tips to be accurate and true and assume that late “smart money” will always go in our favour more often than not. So as to not miss out on value, do not wait!</p></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="blue-title">Bookmakers</h3></div>
        <div class="panel-body"><h1><i class="fa fa-list fa-3x"></i></h1>
        <p>We are not affiliated with any bookmakers. We strongly urge anyone who is paying for tipping services that are affiliated/offer bonuses with specific bookmakers, to stop immediately. All bookmakers offer referral programs in which they pay out a % of your loss back to the referrer. 90% of all tipping services will act in this manner, not only charging you a subscription fee, but also giving bad tips for you to lose. We will not name and shame, but please be aware that this does occur very frequently.</p></div>
      </div>
    </div>
  </div>
</div>
