<div class="jumbotron home-page">
  <h1 class="text-center">Welcome to Puntsquad</h1>
  <p class="text-center">Your home for Sports Betting tips.</p>
</div>

<div class="container">
  <%= render "what_we_do" %>
  <br /> <br /><br />
  <% if current_user %>
  <% else %>
    <%= render "plan_info" %>
  <% end %>
</div>
