<div class="container">
  <div class="container">
    <div class="page-header">
      <h1>Results</h1>
    </div>
    <div class="col-md-10">
      <div class="jumbotron">
        <% if @total > 0 %>
          <h3>Total Profit/Loss: <span class="label label-success"><%= @total %></span></h3>
        <% else %>
          <h3>Total Profit/Loss: <span class="label label-danger"><%= @total %></span></h3>
        <% end %>
        <%= area_chart Bet.group_by_month(:date_of_bet).sum(:profit_or_loss) %>
      </div>
    </div>
    <div class="col-md-2">
      <%= render 'archive' %>
    </div>
  </div>
</div>
