<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>
      <b>Name:</b> <%= @name %>
    </p>
    <p>
      <b>Email:</b> <%= @email %>
    </p>
    <p>
      <b>Message:</b> <%= @body %>
    </p>
  </body>
</html>
