<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header text-center">Select your Plan</h1>
    </div>
    <div class="col-md-4 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="plan-info-title">Weekly Plan</h3>
          <h4>$15 per Week</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plan-info-list">
            <li><i class="fa fa-trophy"></i> Daily Value Picks</li>
            <li><i class="fa fa-bar-chart"></i> Detailed Result Analysis</li>
            <li><i class="fa fa-envelope-o"></i> Daily Email Updates</li>
            <li><i class="fa fa-line-chart"></i> All Sports</li>
            <li><i class="fa fa-usd"></i> Low Commitment</li>
          </ul>
          <%= link_to "Weekly Plan", new_subscription_path(:plan => 1040), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center recommended-value">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="plan-info-title">Monthly Plan</h3>
          <h4>$49 per Month</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plan-info-list">
            <li><i class="fa fa-trophy"></i> Daily Value Picks</li>
            <li><i class="fa fa-bar-chart"></i> Detailed Result Analysis</li>
            <li><i class="fa fa-envelope-o"></i> Daily Email Updates</li>
            <li><i class="fa fa-line-chart"></i> All Sports</li>
            <li><i class="fa fa-usd"></i> <strong>Save 20% Per Month!</strong></li>
          </ul>
          <%= link_to "Monthly Plan", new_subscription_path(:plan => 1050), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="plan-info-title">Yearly Plan</h3>
          <h4>$499 per Year</h4>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled plan-info-list">
            <li><i class="fa fa-trophy"></i> Daily Value Picks</li>
            <li><i class="fa fa-bar-chart"></i> Detailed Result Analysis</li>
            <li><i class="fa fa-envelope-o"></i> Daily Email Updates</li>
            <li><i class="fa fa-line-chart"></i> All Sports</li>
            <li><i class="fa fa-usd"></i> <strong>Save 35% Per Year!</strong></li>
          </ul>
          <%= link_to "Yearly Plan", new_subscription_path(:plan => 1060), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
      </div>
    </div>
  </div>
</div>
