<div class="container">
  <br/>
  <div class="well">
    <div class="row">
      <h1 div class="text-center">Congratulations!</h1>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3"><h4 class="text-center">Your subscription was successful and you now have full access when viewing our past <%= link_to "results", results_path %> as well as all the tips for upcoming games in your <%= link_to "dashboard", root_path %>. </h4></div>

    </div>
  </div>
</div>
