<div class="container">
  <p>
    Hello Punters!
  </p>
  <p>
    A nice rebound for everyone today after a tough last week. As expected, NBA is getting the job done and we strongly recommend you to jump on it if you haven’t already been doing so! Here are a few things we would like to keep everyone updated on:
  </p>
  <ul>
    <li>
      Firstly, our “<a href="puntsquad.com/bettingexplained">Betting Explained</a>” sections is complete for the time-being with the addition of some FAQs. For those of you who were with us since day 1, it is no longer word-fill gibberish and is definitely worth a read if you are still unsure of what PuntSquad is, what we do and how we do it.
    </li>
    <li>
      We understand a lot of people are having trouble placing bets for horse racing due to the sheer number of tips that come out each day.  Currently we are looking at ways in which each individual user can mark off a bet that they have placed, as to not be overwhelmed by the high volume of clustered bets that are on the screen. This will be implemented as soon as it becomes workable.
    </li>
    <li>
      We are aware that horse-racing odds do sometimes drop quite dramatically once the tips have been released. This is mostly due to our own traders currently betting these selections. Once PuntSquad becomes a paid service, our traders will be very selective on their own positions as to not affect the overall profitability for PuntSquad members.
    </li>
  </ul>
  <p>
    The free trial period will end on the 11th of November (11/11/16). Meanwhile please continue to enjoy the product until then! If you have enjoyed our tips, watching sports or just enjoy making money then please like our <a href="https://www.facebook.com/puntsquad">Facebook page</a>, follow us on <a href="https://www.twitter.com/puntsquad">Twitter</a> and help spread the word.
  </p>
  <p>
    From all of us at Puntsquad, we’d thank you for joining us on this journey to take money back from the bookies and we hope to continue for many years to come.
  </p>
  <p>
    Good luck to all of us!
  </p>
  <p>
    PS. Pretty please like us on <a href="https://www.facebook.com/puntsquad">Facebook</a>
  </p>
</div>
