/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


/************** NAVIGATION ***************/
 .navbar {
   border: 0px;
   border-radius: 0px;
   min-height: 70px;
 }

 .navbar {
   margin-bottom: 0;
 }

 .navbar-nav li a {
   padding-top: 25px;
   padding-bottom: 15px;
 }


 /************** JUMBOTRON ***************/

 .jumbotron.home-page {
   background-image: url('hero-bg.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 65vh;
   border-radius: 0px;
 }

 .jumbotron.user-home {
   background-image: url('user-home-hero-bg.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 0px;
   color: #fff;
 }

 .jumbotron.faq {
   background-image: url('understanding-hero-bg.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 0px;
   color: #fff;
 }

 /************** PLAN INFO ***************/

 .line-break {
   width: 100%;
   border-top: 1px solid #555;
   margin-bottom: 10px;
 }

 .plan-info-list li {
   margin-top: 15px;
   margin-bottom: 15px;
 }



 /************** FOOTER ***************/

 .footer {
   margin-top: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
 }

 .social-media li {
   display: inline-block;
   margin: 15px 5px;
 }

 /************** RESULTS ***************/

 #result-graph {
   border: solid #dce9f4 1px;
 }

 /************** COLORS ***************/

 body {
   background-color: #fff;
 }

 .navbar {
   background-color: #fff;
   border-bottom: 1px solid #dce9f4;
 }

 .navbar-nav li {
   -webkit-transition: 0.5s;
   transition: 0.5s;
   border-bottom: 10px solid #fff;
 }

 .navbar-nav li:hover {
   border-bottom: 10px solid #337ab7;
   -webkit-transition: 0.5s;
   transition: 0.5s;
 }

 .navbar-default .navbar-nav > li > a  {
   color: #337ab7;
 }

 .navbar-default .navbar-nav > li > a:hover  {
   color: #337ab7;
 }

 .navbar-default .navbar-brand {
   color: #000;
   padding-top: 25px;
   padding-bottom: 25px;
   height: 70px;
 }

 .navbar-default .navbar-brand:hover {
   color: #000;
   padding-top: 25px;
   padding-bottom: 25px;
   background-color: #fff;
   -webkit-transition: background-color 0.5s;
   transition: background-color 0.5s;
 }

 .jumbotron {
   color: #337ab7;
   background-color: #fafafa;
 }


 .footer {
   background-color: #337ab7;
   color: #fff;
 }

 .social-icon {
   color: #fff;
   transition: 0.2s;
   -webkit-transition: 0.2s;
 }
 .social-icon:hover {
   color: #2e6da4;
   text-decoration: none;
   transition: 0.2s;
   -webkit-transition: 0.2s;
 }

 .plan-info-title {
   color: #44618c;
 }

.recommended-value .well{
  background-color: #337ab7;
  color: #fff;
}

.recommended-value .plan-info-title {
  color: #fff;
}

.recommended-value h4 {
  color: #fff;
}

.recommended-value .line-break {
  border-color: #fff;
}

.recommended-value .btn-primary {
  background-color: #fff;
  color: #000;
  transition: 0.5s;

}

.recommended-value .btn-primary:hover {
  transition: 0.5s;
  background-color: #ddd;
}

.recommended-value .label {
  background-color: #fff;
  color: #000;
}

.blue-title {
  color: #337ab7;
}

.well {
  background-color: #dce9f4;
  border-color: #dce9f4;
}

.alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    margin-bottom: 0px;
}

/************** EXTRA ***************/
.btn:hover {
  transition: 0.5s;
}
.btn {
  transition: 0.5s;
}

.alert {
  margin-bottom: 0;
  text-align: center;
}

.no-top-margin {
  margin-top: 0px;
}

.margin-top {
  margin-top: 15px;
}

.well {
  border-radius: 0px;
}

.container .jumbotron {
  border-radius: 0px;
}

.alert {
  border-radius: 0px;
}

.left-tab {
  margin-left: 30px;
}
