/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "colors";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "posts";
@import "bets";
@import "home";
@import "results";
/************** NAVIGATION ***************/
.navbar {
  border: 0;
  border-radius: 0;
  min-height: 70px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-nav li a {
  padding-top: 25px;
  padding-bottom: 15px;
}
.navbar.navbar-default {
  border: 0;
}
.navbar {
  background-color: $dark-grey;
}
.navbar-nav li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 10px solid $dark-grey;
}
.navbar-nav li:hover {
  border-bottom: 10px solid $primary-color;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover {
  color: $primary-color;
}
.navbar-default .navbar-brand {
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 70px;
}
.navbar-default .navbar-brand:hover {
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.dropdown-menu > li:hover {
  border-bottom: solid 10px $dark-grey;
}
.dropdown-menu {
  border: 0;
  background-color: $dark-grey;
}

.dropdown-menu > li > a {
  color: white;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
  padding: 25px;
  transition: 0.3s;
}

.navbar-default .navbar-brand:hover {
   background-color: $dark-grey;
   opacity: 0.9;
 }
.navbar-brand img {
  max-height: 100%;
  max-width: 50vh;
}

.dropdown a:visited {
  background-color: white;
}

/************** FOOTER ***************/
.footer {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.social-media li {
  display: inline-block;
  margin: 15px 5px;
}
/************** JUMBOTRON ***************/
.jumbotron {
  color: $primary-color;
  background-color: #fff;
}
/************** FOOTER ***************/
.footer {
  background-color: $dark-grey;
  color: $light-grey;
  padding-bottom: 0;
}
.footer h4 {
  color: $primary-color;
}
.social-icon {
  color: $light-grey;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.social-icon:hover {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.footer .form-control {
  background: none;
  border: none;
  border-bottom: 1px white solid;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  outline: none;
  color: white;
}
.footer textarea {
  resize: none;
  outline: none;
}
.footer .form-control:focus {
  outline: none;
  border-bottom: 1px $primary-color solid;
  box-shadow: none;
}
.footer .form-group .form-control input:focus {
  outline: none;
  color: white;
}
.footer-base {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}
/*********** BUTTONS ************/
.btn-primary {
  background-color: $primary-color;
  border: none;
}
.btn-primary:hover {
  background-color: $secondary-color;
}

/************** EXTRA ***************/
.btn:hover {
  transition: 0.5s;
}
.btn {
  transition: 0.5s;
}
.alert {
  margin-bottom: 0;
  text-align: center;
}
.no-top-margin {
  margin-top: 0;
}
.no-bottom-margin {
  margin-bottom: 0;
}
.margin-top {
  margin-top: 15px;
}
.well {
  border-radius: 0;
}
.container .jumbotron {
  border-radius: 0;
}
.alert {
  border-radius: 0;
}
.left-tab {
  margin-left: 30px;
}
.border-bottom {
  border-bottom: 1px solid black;
}
body {
  background-color: $background-grey;
}
h1,
h2,
h3 {
  color: $primary-color;
}
//    WELLS
.well {
  background-color: white;
  border-color: $light-grey;
}
//    ALERTS
.alert-notice {
  color: $alert-color;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  margin-bottom: 0;
}
a {
  color: $primary-color;
  transition: 0.3s;
}
a:hover {
  text-decoration: none;
  color: $secondary-color;
  transition: 0.3s;
}
.list-group,
.list-group-item {
  background-color: white;
}
/*********** ALL PANELS *************/

.panel-default .panel-heading,.panel-default .panel-heading h1, .panel-default .panel-heading h2, .panel-default .panel-heading h3, .panel-default .panel-heading h4, .panel-default .panel-heading h5 {
  background-color: $dark-grey;
  color: white;
}

.panel-default .panel-faded {
  background-color: #f5f5f5;
  color: black;
}
