// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************* JUMBOTRON **********/

.jumbotron.home-page {
  background-image: url('hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  border-radius: 0;
  color: white;
  background-color: $dark-grey;
}

.jumbotron.home-page img {
  max-width: 70%;
  max-height: 30vh;
}

.jumbotron.user-home {
  background-image: url('user-home-hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
}

.jumbotron.user-home img {
  max-width: 70%;
  max-height: 30vh;
}

/************** FAQ ***************/

.jumbotron.faq {
  background-image: url('understanding-hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
}

/************** PLAN INFO ***************/
.line-break {
  width: 100%;
  border-top: 1px solid #555;
  margin-bottom: 10px;
}
.plan-info-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.plan-info > .panel-heading {
  background-color: $dark-grey;
}

.plan-info h5, .plan-info h1 {
  color: white;
}

.plan-info {
  background: url('plan-bg.jpg');
}

/************** PANEL SLIDE ***************/

.panel-slide {
  height: 300px;
  border: 0px;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  border-bottom: 15px solid $primary-color;
}

.what-we-do .col-md-12 {
  background-color: $dark-grey;
}

.panel-slide p {
  color: white;
}

.panel-slide p, .panel-slide a {
  transform: translate3d(0px, -395px, 0px);
  transition: 0.3s;

}

.panel-slide:hover p, .panel-slide:hover a {
  transform: translate3d(0px, -95px, 0px);
  transition: 0.3s;
}

.panel-slide img, .panel-slide h3 {
  transform: translate3d(0px, 45px, 0px);
  transition: 0.3s;
  color: white;
}

.panel-slide:hover img, .panel-slide:hover h3 {
  transform: translate3d(0px, 345px, 0px);
  transition: 0.3s;
}

.panel-slide:hover {
  background-color: $dark-grey;
  transition: 0.3s;
  background-image: none;
  opacity: 0.99;
}
