// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************* JUMBOTRON **********/

.jumbotron.home-page {
  background-image: url('hero-bg-3.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
  background-color: $dark-grey;
}

.jumbotron.home-page img {
  max-width: 70%;
  max-height: 30vh;
}

.jumbotron.user-home {
  background-image: url('user-home-hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
}

.jumbotron.user-home img {
  max-width: 70%;
  max-height: 30vh;
}

/************* CURRENT PROFIT WELL ****************/

.current-profit {
  opacity: 1;
  transition: ease-in 0.5s;
}

.current-profit :hover {
  opacity: 0.9;
  transition: ease-in 0.3s;
}

.current-profit :active {
  text-decoration: none;
}

.current-profit :visited {
  text-decoration: none;
}

.current-profit .well {
  border: 0;
  border-radius: 7px;
  background-color: $dark-grey;
}

.current-profit h1 {
  color: $primary-color;
}

 .current-profit h2 {
   color: white;
 }

.current-profit-number {
  font-family: 'Montserrat', sans-serif;
  @media (min-width: $screen-md-max) {
    font-size: 13em;
  }
  @media (max-width: $screen-md-max) {
    font-size: 9em;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 6em;
  }

}

.current-profit-units {
  font-family: 'Montserrat', sans-serif;
}

/************* WHAT WE DO ****************/

.what-we-do-title {
  color: $dark-grey;
}

.what-we-do h3 {
  color: white;
}

.what-we-do .well {
  border: 0;
  border-radius: 7px;
  background-color: $dark-grey;
  color: white;
}

/************** PLAN INFO ***************/

.plans h1, .plans h2, .plans h3 {
  color: $dark-grey;
}

.line-break {
  width: 100%;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
}
.plan-info-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.plan-info > .panel-heading {
  background-color: $dark-grey;
}

.plan-info .panel-heading h5, .plan-info .panel-heading h1 {
  color: white;
}

.plan-info {
}

.plans .panel-body {
}


/************** FAQ ***************/

.jumbotron.faq {
  background-image: url('understanding-hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  color: white;
}

.betting_guide_row1 {
  @media (min-width: $screen-sm-max) {
    height: 475px;
  }
  @media (min-width: $screen-md-max) {
    height: 400px;
  }
}

.betting_guide_row2 {
  @media (min-width: $screen-sm-max) {
    height: 625px;
  }
  @media (min-width: $screen-md-max) {
    height: 540px;
  }
}

.betting_guide_row3 {
  @media (min-width: $screen-sm-max) {
    height: 550px;
  }
  @media (min-width: $screen-md-max) {
    height: 500px;
  }
}

.FAQ {
  background-color: #fff;
}

/************** TRAIL AREA ***************/
.trial .well {
  background-color: $dark-grey;
  border-radius: 5px;
  border: 0;
  color: white;
}

.trial h1, .trial h5 {
  color: white;
}
