<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-success panel-top">
            <div class="panel-heading text-center email">
              <%= image_tag("logo-grey-text.png", style: "max-width: 60%; margin: 0 auto;") %>
            </div>
            <div class="panel-body">
              <h3>Welcome <%= @email %>!</h3>
              <p>You can confirm your account email through the link below:</p>
              <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
