<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="panel panel-default panel-top">
            <div class="panel-heading text-center email">
              <%= image_tag("logo-grey-text.png", style: "max-width: 60%; margin: 0 auto;") %>
            </div>
            <div class="panel-body">
              <h3>Hello <%= @resource.email %>!</h3>
              <p>We're contacting you to notify you that your password has been changed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
